export DATA_INPUT_DIR=~/D/covid-isolation-inputs
# Change the path after the = to the folder where the input data is stored
export MAIN_OUTPUT_DIR=~/D/covid-isolation-outputs
# Change the path after the = to the folder where the output files created by this pipeline should be stored
export OPENSSL_CONF=/dev/null
# May need to be changed to NUL for Windows

# Note: file paths will look different depending on the computer system used.
